<template>
  <div class="container mx-auto mb-10">
    <h1 :class="msgClass" v-if="status === 'loading'">Loading...</h1>
    <h1 :class="msgClass" v-else-if="status === 'error'">{{ error }}</h1>
    <h1 :class="msgClass" v-else-if="status === 'success' && !data.length">No Images Found</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" v-else>
      <ImageCard :image="image" v-for="(image, idx) in data" :key="idx" />
    </div>
  </div>
</template>

<script>
import useApiImagesList from './hooks/useApiImagesList';

import Storage from './lib/Storage';
import User from './models/User';

import ImageCard from './components/ImageCard.vue';

export default {
  components: {
    ImageCard,
  },
  setup() {
    const {
      data,
      status,
      fetchImages,
    } = useApiImagesList();
    const msgClass = 'text-6xl text-center mx-auto mt-32';

    const storage = new Storage('app');

    const user = new User(storage);
    // cache object between imports
    User.instance = user;

    fetchImages(user.id);

    return {
      data,
      fetchImages,
      status,
      msgClass,
    };
  },
};
</script>
