<template>
  <div :class="cardClass">
    <img :src="imageFormatted.url" alt="random" class="w-full" />

    <div class="px-6 py-4">
      <ul>
        <li><strong>Likes:</strong> {{ imageFormatted.likes }}</li>
      </ul>
    </div>
    <div class="px-6 py-4">
      <span
      v-for="tag in imageFormatted.tags"
      :key="tag"
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
        >#{{tag}}</span
      >
    </div>
    <div class="px-6 py-4">
      <PinButton :image="imageFormatted" />
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';

import PinButton from './PinButton.vue';

export default {
  props: ['image'],
  components: {
    PinButton,
  },
  setup(props) {
    const imageFormatted = computed(() => ({
      ...props.image,
      tags: props.image.tags.split(',').map((i) => i.trim()),
      likes: props.image.likes.toLocaleString(),
    }));

    const cardClass = computed(() => {
      const baseClass = 'max-w-sm rounded overflow-hidden shadow-lg';

      if (props.image.pinned) {
        return `${baseClass} bg-blue-500 bg-opacity-25`;
      }

      return baseClass;
    });

    return {
      imageFormatted,
      cardClass,
    };
  },
};
</script>
